<!-- header -->
<%- include('template/header.ejs') %>
    <title>About met</title>
</head>
<body>
    <!-- navbar -->
    <%- include('template/navbar.ejs') %>
    <h1>About Me</h1>
    <p>Hey may name is Andres Hurtado im junior programer and a like the web site page</p>
    <p> <%= name %>  </p>
</body>
</html>