<%- include('template/header.ejs'), {title}  %> 

<div class="container-fluid mt-5">
  <h1 class="text-center mb-5">Now playing</h1>
  <div class="row list-card">
    <!-- card -->
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </div>
</div>

<%- include('template/footer.ejs')  %> 