*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #221f1f;
}

/* main */

h2{
    color: #f5f5f1;
}

.newMovies {
    margin-top: 5px;
}

.wrapper {
    max-width: 100%;
    /* border: 1px solid #ddd; */
    display: flex;
    overflow-x: auto;
}

.wrapper::-webkit-scrollbar{
    width: 0;
}

.wrapper .item {
    transition: all 400ms;
    min-width: 190px;
    height: 270px;
    line-height: 110px;
    text-align: center;
    background-color: #ddd;
    margin-right: 5px;
}

.wrapper .item img{
    height: 100%;
    width: 100%;
}

.wrapper .item:hover{
    transition: all 400ms;
    filter: brightness(50%);
    /* transform: scale(1.7); */
    /* margin: 15px; */
}