.card-img-top:hover {
    transition: 0.3s ease;
    filter: brightness(50%);
}

.list-card{
    --bs-gutter-x: 0;
}

.card-body{
    padding: 10px;
}

a{
    text-decoration: none;
    color: #000;
}
